annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
bcrypt==5.0.0
certifi==2026.2.25
click==8.3.2
colorama==0.4.6
Faker==40.18.0
fastapi==0.136.0
greenlet==3.4.0
h11==0.16.0
httptools==0.7.1
idna==3.11
jplephem==2.24
numpy==2.4.4
passlib==1.7.4
psycopg2-binary==2.9.11
pydantic==2.13.2
pydantic_core==2.46.2
PyJWT==2.12.1
python-dotenv==1.2.2
PyYAML==6.0.3
sgp4==2.25
skyfield==1.54
SQLAlchemy==2.0.49
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.44.0
watchfiles==1.1.1
websockets==16.0
